## Learn to build dashboard using dash ##
* Library used --> plotly, dash, pandas
* data used --> e-commerce sales data

In [27]:
# import libraries
import pandas as pd
from plotly import express as px


# load data
ecom_sales = pd.read_csv('data/ecom_sales.csv')
ecom_data = pd.read_csv('data/ecom_data.csv')
ecom_data.info()
ecom_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   InvoiceNo       700 non-null    int64
 1   UnitPrice       700 non-null    float64
 2   OrderValue      700 non-null    float64
 3   Quantity        700 non-null    int64
 4   Country         700 non-null    object
 5   InvoiceDate     700 non-null    object
 6   InvoiceTime     700 non-null    object
 7   Year-Month      700 non-null    object
 8   Major Category  700 non-null    object
 9   Minor Category  700 non-null    object
 10  Description     700 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 60.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    500 non-null    int64
 1   Description  500 non-null    object
 2   OrderValue   500 non-null    float64
 3   Quantity     500 non-null    int64
 4   CustomerID   399 non-null    float64
 5   Country      500 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 23.6+ KB

In [33]:
sales = ecom_data.join(ecom_sales, on ='InvoiceNo', lsuffix='_data', rsuffix='_sales')
sales = sales[['InvoiceNo', 'UnitPrice', 'Quantity_data', 'Year-Month',
               'Major Category', 'Minor Category', 'Country_data']]
sales['Total'] = sales['UnitPrice'] * sales['Quantity_data']
sales.head()

,InvoiceNo,UnitPrice,Quantity_data,Year-Month,Major Category,Minor Category,Country_data,Total
0,549185,0.85,12,2011-04,Clothes,Tops,United Kingdom,10.20
1,576381,2.95,12,2011-11,Clothes,Shoes,United Kingdom,35.40
2,551192,1.25,16,2011-04,Kitchen,Cutlery,United Kingdom,20.00
3,573553,7.46,1,2011-10,Garden,Turf,United Kingdom,7.46
4,539436,2.51,1,2010-12,Garden,Hoses,United Kingdom,2.51

In [34]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   InvoiceNo       700 non-null    int64
 1   UnitPrice       700 non-null    float64
 2   Quantity_data   700 non-null    int64
 3   Year-Month      700 non-null    object
 4   Major Category  700 non-null    object
 5   Minor Category  700 non-null    object
 6   Country_data    700 non-null    object
 7   Total           700 non-null    float64
dtypes: float64(2), int64(2), object(4)
memory usage: 43.9+ KB